@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$backgroundLight: linear-gradient(to bottom right, #329ca479, #4a85e380);
$background: linear-gradient(to bottom right, #4A84E3, #329DA4);
$font: 'Josefin Sans', sans-serif;

